/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
:root {
  --normal: #a8a77a;
  --fire: #ee8130;
  --water: #6390f0;
  --electric: #f7d02c;
  --grass: #7ac74c;
  --ice: #96d9d6;
  --fighting: #c22e28;
  --poison: #a33ea1;
  --ground: #e2bf65;
  --flying: #a98ff3;
  --psychic: #f95587;
  --bug: #a6b91a;
  --rock: #b6a136;
  --ghost: #735797;
  --dragon: #6f35fc;
  --dark: #705746;
  --steel: #b7b7ce;
  --fairy: #d685ad;
}
* {
  font-family: "Press Start 2P";
  font-size: 22px;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Roboto";
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  border: none;
  font-family: sans-serif;
}
/*
  APP STYLE
  */
body {
  background-color: white;
  padding: 0 20vw;
}

.hero {
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 0;
  box-sizing: border-box;
}
.hero__title {
  font-size: 3rem;
}
.hero__sub {
  font-size: 1.5rem;
}
.pokemon-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 15px;
  width: 100%;
  box-sizing: border-box;
}
.pokemon-types-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  border: 4px solid;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}
.types-title {
  font-size: 1.5rem;
  margin: 10px 0 5px;
}
.show-pokemon-button {
  padding: 10px 20px;
  border-radius: 15px;
  margin: 10px auto;
  display: flex;
  cursor: pointer;
  transition: all 0.5s;
}
.show-pokemon-button:hover {
  background-color: #705746;
  color: white;
}
.type {
  text-transform: capitalize;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 15px;
  color: black;
  border: 2px  solid;
  margin-right: 5px;
  margin-bottom: 5px;
  transition: all 0.4s;
  cursor: pointer;
  text-shadow: 0 0 2px white;
}
.type.active {
  background-color: white !important;
}
.type:hover {
  box-shadow: 3px 3px black;
}
.card-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.5rem 0;
  text-transform: capitalize;
}

.card-subtitle {
  font-size: 1.25rem;
  margin-top: 5px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px dotted #3c5aa6;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #c7a008;
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.loader-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loader-modal img {
  max-width: 25%;
  margin-bottom: 5%;
}

.pokemon-info-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(165, 165, 165, 0.582);
  backdrop-filter: blur(4px);
  transition: all 0.7s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pokemon-info-modal__container {
  border-radius: 15px;
  background-color: white;
  box-shadow: 5px 5px black;
  height: 50%;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: row;
}
.close-button {
  position: absolute;
  right: 15px;
  top: 15px;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  transition: all 0.2s ease-out;
}
.close-button:hover {
  background-color: red;
  color: black;
}
.inner-container {
  height: 100%;
  width: 50%;
}
.pokemon-info {
  display: flex;
  flex-direction: column;
  padding: 20px 10px; 
}
.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-container img {
  width: 80%;
  border: 4px solid black;
  border-radius: 15px;
}

#pokemon-name {
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;
}

.stat {
  font-size: 1rem;
  margin-bottom: 1rem;
}
#stats-container {
  margin-top: 2rem;
}
strong {
  font-weight: bold;
  text-transform: capitalize;
}